@import "../../../../scss/main";
.ModalBody {
  h1 {
    text-align: center;
    font-weight: 500;
    font-size: rem(25);
    color: $mainColor;
  }
}
.button {
  padding: 0px;
  width: 100%;
  background: none;
  &:hover {
    background: none;
  }
  &:focus {
    background: none;
  }


}